<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs') %>
        <%- include('./partials/nav.ejs') %>
        <h1>티켓 내용 수정</h1>
        <form class="row g-3 needs-validation" method="POST" action="/task/<%= task._id %>/edit" novalidate>
            <input type="text" class="form-control d-none" name="sender" value="<%=currentUser.branch%>">
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" value="<%= task.receiver%>"
                        placeholder="receiver" name="receiver">
                    <label for="floatingInput">Receiver</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" value="<%= task.title%>"
                        placeholder="Title" name="title">
                    <label for="floatingInput">Title</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" value="<%= task.category%>"
                        placeholder="Category" name="category">
                    <label for="floatingInput">Category</label>
                </div>
            </div>
            <div class="col-6">
                <div class="form-floating mb-3">
                    <input type="text" class="form-control" id="floatingInput" value="<%= task.date%>"
                        placeholder="date" name="date">
                    <label for="floatingInput">Due Date</label>
                </div>
            </div>
            <div class="col-6">
                Status
                <select name="room" id="room">
                    <option name="status" value="A: Please Check">Please Check</option>
                    <option name="status" value="B: Checked">Checked</option>
                    <option name="status" value="C: Holding">Holding</option>
                    <option name="status" value="D: Done">Done</option>
                </select> 
            </div>
            <div class="col-12">
                <div class="form-floating mb-3">
                    <textarea class="form-control" value="<%= task.content%>" id="comments" name="content"
                        style="height: 200px"></textarea>
                    <label for="content">Content</label>
                </div>
            </div>
            <div class="col-12 d-grid">
                <button class="btn btn-primary" type="submit">Submit</button>
            </div>     
        </form>
    <%- include('./partials/footer.ejs') %>
</html>


